<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card-panel">
              1
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel">
              2
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel">
              3
            </div>
        </div>
    </div>
</div><div class="card large">
    <div class="card-image">
        <img src="//placehold.it/500">
        <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
         <iframe src="https://locvideocheatsheet.carrd.co/" width="100%" height="450px" frameborder="0"></iframe><h4>Video Localization</h4><div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Help Form</a></li>
            <li class="tab col s3"><a class="active" href="#test2">Video Cheat Sheet</a></li>
            <li class="tab col s3"><a href="#test3">HELP FORM BLK</a></li>
            <li class="tab col s3"><a href="#test4">Test 4</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12"><iframe src="https://f.formoid.net/qtU" width="100%" height="450px" frameborder="0"></iframe></div>
    <div id="test2" class="col s12">  <iframe src="https://locvideocheatsheet.carrd.co/" width="100%" height="450px" frameborder="0"></iframe><h4>Video Localization</h4></div>
    <div id="test3" class="col s12"><iframe src="https://f.formoid.net/qtn" width="100%" height="450px" frameborder="0"></iframe></div>
    <div id="test4" class="col s12">
<a href="https://spark.adobe.com/page/qvgZj/"> <img src="https://spark.adobe.com/page/qvgZj/embed.jpg?buster=1465872421495" alt="Localization Project" style="width:100%; height:500px;" border="0" /></a>
    </div>
</div>

    </div>
    <div class="card-action">
        <a href="#">This is a link</a>
    </div>
</div><ul class="collection with-header">
    <li class="collection-header">
        <h2>Heading</h2></li>
    <li class="collection-item"><a href="https://spark.adobe.com/page/5Lebq/"><img src="https://spark.adobe.com/page/5Lebq/embed.jpg" alt="Localization" style="width:100%" heigh</a></li>
    <li class="collection-item">Item</li>
    <li class="collection-item">Item</li>
    <li class="collection-item">Item</li>
</ul>
